{% extends "layout.html" %}
{% block title %}Sentiment Analysis{% endblock %}

{% if "google_id" in session %}
{% block chat_loggedIn_hidden %}hidden{% endblock %}
{% else %}
{% block chat_hidden %}hidden{% endblock %}
{% endif %}

{% block body %}

    <!-- <main class="flex-grow mt-16 mb-16 p-4 flex justify-center">
      <div class="w-full max-w-screen-md"> -->
          <!-- User 1 Message -->
          <!-- <div class="flex items-start justify-end mb-4">
              <div class="message bg-blue-100 p-4 rounded-lg">
                  <p>User 1 message goes here...
                  </p>
              </div>
              <img src="{{ url_for('static', filename='images/account.png') }}" alt="User 1 Picture" class="w-8 h-8 rounded-full ml-2 mt-2">
          </div> -->
          <!-- User 2 Message -->
          <!-- <div class="flex items-start mb-4">
              <img src="{{ url_for('static', filename='images/robot.png') }}" alt="User 2 Picture" class="w-8 h-8 rounded-full mr-2 mt-2">
              <div class="message bg-green-100 p-4 rounded-lg text-left">
                  <p>User 2 message goes here...</p>
              </div>
          </div>
      </div>
  </main> -->

  <main id="main" class="flex-grow mt-16 mb-16 p-4 flex justify-center">
    <div class="w-full max-w-screen-md">
        <br>
        <!-- User Messages -->
        {% for message in user_messages %}
                <!-- User Message -->
                <div class="flex items-start justify-end mb-4">
                    <!-- <div class="message bg-blue-100 p-4 rounded-lg"> -->
                    <div class="message bg-primary-100 dark:bg-primary-200 p-4 rounded-lg">
                        <p>{{ message.SenderContent }}</p>
                        <small class="text-gray-500 dark:text-gray-400">{{ message.Timestamp.strftime('%d-%m-%Y %I:%M:%S %p') }}</small>
                    </div>
                    <img src="{{ picture }}" alt="User Picture" class="w-8 h-8 rounded-full ml-2 mt-2  border border-background-200 dark:border-background-200">
                </div>
                <!-- Bot Message -->
                <div class="flex items-start mb-4">
                    <img src="{{ url_for('static', filename='images/bipolar.png') }}" alt="Bot Picture" class="w-8 h-8 rounded-full mr-2 mt-2  border border-background-200 dark:border-background-200">
                    <!-- <div class="message bg-green-100 p-4 rounded-lg text-left"> -->
                        <div class="message bg-secondary-100 dark:bg-secondary-200 p-4 rounded-lg">
                        <p>{{ message.ReceiverContent }}</p>
                        <small class="text-gray-500 dark:text-gray-400">{{ message.Timestamp.strftime('%d-%m-%Y %I:%M:%S %p') }}</small>
                    </div>
                </div>
        {% endfor %}
        <div id="bottom">
            <br><br><br><br>
        </div>
    </div>
</main>

<!-- Bottom Bar -->
<div class="bottombar fixed bottom-0 w-full p-4 dark:bg-transparent">
    <div class="container mx-auto flex w-full max-w-screen-md">
      <form action="/send_message" method="POST" class="flex w-full items-end">
        <div class="flex-grow flex flex-col">
          <textarea name="message_content" rows="1"
            class="w-full p-2 rounded-lg focus:outline-none focus:ring-1 focus:ring-primary-400 resize-none overflow-auto max-h-32 bg-white dark:bg-primary-100 border border-background-200 dark:border-background-200"
            placeholder="Type your message"></textarea>
        </div>
        <button type="submit"
          class="bg-primary-400 dark:bg-primary-500 hover:bg-primary-500 dark:hover:bg-primary-600 text-text-50 dark:text-text-950 py-2 px-4 ml-2 rounded-lg flex items-center h-12">
          <span class="material-symbols-outlined mr-1">send</span>
          <span class="hidden sm:block">&nbsp;Send</span>
        </button>
      </form>
    </div>
  </div>
  {% endblock %}